# dev
pylint==3.0.3
black==24.3.0
build

# lib
pytest<=8.0.1
Appium-Python-Client~=4.0.0
opencv-python~=4.10.0.84
geckodriver-autoinstaller==0.1.0
pytest-xdist~=2.5.0
pytest-testrail~=2.9.0
pure-python-adb==0.3.0.dev0
webdriver-manager~=4.0.1
numpy~=1.26
imutils~=0.5.4
