# dev
pylint==3.0.2
black==22.6.0
build

# lib
pytest==7.4.3
Appium-Python-Client==3.1.1
selenium==4.17.2
opencv-python==4.8.1.78
geckodriver-autoinstaller==0.1.0
pytest-xdist==2.5.0
pytest-testrail==2.9.0
pure-python-adb==0.3.0.dev0
webdriver-manager==4.0.1
numpy==1.26.2
imutils==0.5.4
