name: TestUI CI integration tests workflow

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

  workflow_dispatch:

jobs:
  integration_test:
    runs-on: ubuntu-latest
    continue-on-error: true

    steps:
      - uses: actions/checkout@v3
      - name: setup python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
          cache: 'pip'
      - name: install requirements
        run: python -m pip install -r requirements.txt
      - name: Analysing the code with pylint
        run: |
          pylint $(git ls-files '*.py')
      - uses: browser-actions/setup-chrome@latest
      - run: chrome --version
      - name: Integration browser test with Pytest
        run: python -m pytest tests/selenium_tests.py
